/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors
   Utility

*/

:root
  // grays
  --black #000
  --trans-gray-50 rgba(0, 0, 0, 0.04)
  --gray-100 #171717
  --gray-200 #333333
  --gray-600 #666666
  --gray-900 #E6E6E6
  --gray-950 #F8F8FD

  // transparent grays
  --trans-gray-100 rgba(0, 0, 0, 0.91)
  --trans-gray-200 rgba(0, 0, 0, 0.8)
  --trans-gray-600 rgba(0, 0, 0, 0.6)
  --trans-gray-900 rgba(0, 0, 0, 0.1)

  // whites
  --white-100 rgba(255, 255, 255, 0.1)
  --white-200 rgba(255, 255, 255, 0.2)
  --white-300 rgba(255, 255, 255, 0.333)
  --white-500 rgba(255, 255, 255, 0.5)
  --white-800 rgba(255, 255, 255, 0.82)
  --white #FFFFFF

  // misc
  --transparent transparent
  --green-600 #69E0A7

  // functional colors
  --bg var(--black)
  --fg var(--gray-100)
  --title var(--white)
  --text var(--white-800)
  --muted var(--white-500)
  --link var(--white)
  --link-hover var(--white-800)
  --divider var(--white-100)

// light mode | functional colors
// Uncomment to configure color mode
// .light-mode
//   --bg var(--gray-950)
//   --fg var(--white)
//   --title var(--black)
//   --text var(--trans-gray-100)
//   --muted var(--trans-gray-600)
//   --link var(--text)
//   --link-hover var(--trans-gray-600)
//   --divider var(--trans-gray-100)


// color utility classes
.tm-title
  color var(--title)

.tm-text
  color var(--text)

.tm-muted
  color var(--muted)
