/*

   LINKS
   Docs: http://tachyons.io/docs/elements/links/

*/

.tm-link
  color var(--link)
  cursor pointer
  text-decoration none
  transition all .2s $ease-out
  word-break break-word

.tm-link:link,
.tm-link:visited
  transition all .2s $ease-out

.tm-link:hover
  color var(--link-hover)
  transition all .2s $ease-out, opacity .4s ease-out
  &.tm-link-underline-hover
    text-decoration underline

.tm-link:active
  opacity 0.7
  transition-duration 0s

.tm-link:focus
  transition all .2s $ease-out
  // outline 1px dotted currentColor // todo: find a more elegant solution

.tm-definition
  color inherit
  border-bottom $px dotted
  margin-bottom: -($px)

/* Disclosure icons */
.tm-link-disclosure,
.tm-link-external
  position relative

.tm-link-disclosure
  margin-right 1em

.tm-link-external
  margin-right 0.9em

.tm-link-disclosure:after,
.tm-link-external:after
  position absolute
  bottom .166em
  padding-left .375em
  line-height 1
  transition transform .2s $ease-out

.tm-link-external:after
  content "\2197"
  font-size: .75em;

.tm-link-disclosure:after
  content "\2192"

.tm-link:hover,
.tm-link:focus
  &.tm-link-external:after
    transform translate(10%, -10%)

  &.tm-link-disclosure:after
    transform translateX(10%)
